<md-toolbar>
    <div class="md-toolbar-tools">
        <h2 class="title">{{'user.import' | translate}}</h2>
    </div>
</md-toolbar>
<md-content layout="column" layout-padding flex>
    <md-input-container>
        <label>{{'user.type' | translate}}</label>
        <md-select ng-model="importModel.type">
            <md-option value="admin">{{'user.type.admin' | translate}}</md-option>
            <md-option value="guru">{{'user.type.guru' | translate}}</md-option>
            <md-option value="participant">{{'user.type.participant' | translate}}</md-option>
        </md-select>
    </md-input-container>
    <md-input-container class="md-block" md-no-float>
        <label style="position:static;">{{'import.file' | translate}}</label>
        <input type="file" id="import"/>
    </md-input-container>
    <md-button class="md-primary" id="import-trigger" ng-click="import()">
        <md-icon class="material-icons">cloud_upload</md-icon>
        {{'user.import.submit' | translate}}
    </md-button>
</md-content>