{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "transform-runtime",
    "syntax-async-functions",
    "transform-async-to-generator",
    "add-module-exports",
    "transform-es2015-modules-commonjs"
  ]
}