<md-toolbar>
    <div class="md-toolbar-tools">
        {{answer.person.name}} - {{schedule.package.name}} {{schedule.name}}
    </div>
</md-toolbar>
<md-content class="padding">
    <div class="md-whiteframe-1dp">
        <md-toolbar class="md-toolbar-slim">
            <div class="md-toolbar-tools">
                {{'answer.grade' | translate}}
            </div>
        </md-toolbar>
        <p class="text-padding">
            {{answer.grade}}
        </p>
        <md-toolbar class="md-toolbar-slim">
            <div class="md-toolbar-tools">
                {{'answer.duration' | translate}}
            </div>
        </md-toolbar>
        <p class="text-padding">
            {{moment.duration(answer.duration).format('HH [' + timeLabel.hour + '] mm [' + timeLabel.minute + ']', {trim : false})}}
        </p>
        <md-toolbar class="md-toolbar-slim">
            <div class="md-toolbar-tools">
                {{'answer.rank' | translate}}
            </div>
        </md-toolbar>
        <p class="text-padding">
            {{rank}}
        </p>
        <div ng-if="answer.answerCheats.length">
            <md-toolbar class="md-toolbar-slim">
                <div class="md-toolbar-tools">
                    {{'answer.cheat.detected' | translate}} {{answer.answerCheats.length}}x
                </div>
            </md-toolbar>
            <md-list>
                <md-list-item ng-repeat="cheat in answer.answerCheats">
                    {{$index + 1}}. {{moment.duration(cheat.durasi).format('ss [' + timeLabel.second + ']', {trim : false})}} ({{cheat.sanction}} {{'answer.grade' | translate}})
                </md-list-item>
            </md-list>
        </div>
        <md-toolbar class="md-toolbar-slim">
            <div class="md-toolbar-tools">
                {{'test.answer' | translate}}
            </div>
        </md-toolbar>
        <table class="cw">
            <tr ng-repeat="r in grids.length | range">
                <td
                        ng-repeat="c in grids[r].length | range"
                        ng-init="cell = grids[r][c] || null;"
                        ng-class="cell ? null : 'disable'"
                >
                      <span ng-if="cell.number" class="cw-number">
                        {{cell.number}}
                      </span>
                    {{cell.char || '&nbsp;'}}
                </td>
            </tr>
        </table>
        <md-toolbar class="md-toolbar-slim">
            <div class="md-toolbar-tools">
                {{'answer.result' | translate}}
            </div>
        </md-toolbar>
        <table class="cw">
            <tr ng-repeat="r in grids.length | range">
                <td
                        ng-repeat="c in grids[r].length | range"
                        ng-init="cell = grids[r][c] || null;"
                        ng-class="cell ? null : 'disable'"
                >
                      <span ng-if="cell.number" class="cw-number">
                        {{cell.number}}
                      </span>
                    {{getCellValue(r, c) || '&nbsp;'}}
                </td>
            </tr>
        </table>
        <md-toolbar class="md-toolbar-slim">
            <div class="md-toolbar-tools">
                {{'test.down' | translate}}
            </div>
        </md-toolbar>
        <md-list flex>
            <md-list-item
                    ng-init="cellRemark = getCellRemark(cell)"
                    ng-repeat="cell in legends['down']"
                    ng-class="getCellTruth(cell) ? 'item-balanced item-padding' : 'item-assertive item-padding';"
            >
                <p>
                    <strong>{{cell.position}}</strong>. {{cell.clue}}
                    <br/>
                    <small ng-if="cellRemark === 0">
                        {{'test.remark.hesitate' | translate}}
                    </small>
                    <small ng-if="cellRemark === 1">
                        {{'test.remark.confidence' | translate}}
                    </small>
                    <small ng-if="cellRemark < 0">
                        {{'test.remark.empty' | translate}}
                    </small>
                </p>
                <md-divider ng-if="$index !== legends['down'].length - 1"></md-divider>
            </md-list-item>
        </md-list>
        <md-toolbar class="md-toolbar-slim">
            <div class="md-toolbar-tools">
                {{'test.across' | translate}}
            </div>
        </md-toolbar>
        <md-list flex>
            <md-list-item
                    ng-init="cellRemark = getCellRemark(cell)"
                    ng-repeat="cell in legends['across']"
                    ng-class="getCellTruth(cell) ? 'item-balanced item-padding' : 'item-assertive item-padding';"
            >
                <p>
                    <strong>{{cell.position}}</strong>. {{cell.clue}}
                    <br/>
                    <small ng-if="cellRemark === 0">
                        {{'test.remark.hesitate' | translate}}
                    </small>
                    <small ng-if="cellRemark === 1">
                        {{'test.remark.confidence' | translate}}
                    </small>
                    <small ng-if="cellRemark < 0">
                        {{'test.remark.empty' | translate}}
                    </small>
                </p>
                <md-divider ng-if="$index !== legends['across'].length - 1"></md-divider>
            </md-list-item>
        </md-list>
    </div>
</md-content>