<md-content class="md-padding md-whiteframe-1dp view-mode">

    <md-content class="md-whiteframe-1dp" ng-if="!chart1.loaded || chart1.loaded && chart1.labels.length">
        <md-toolbar>
            <div class="md-toolbar-tools">
            <h3>{{'answer.rank.incorrect' | translate}}</h3>
            </div>
        </md-toolbar>
        <md-content class="md-padding">
            <div ng-if="!chart1.labels.length" layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <canvas ng-if="chart1.labels.length" class="chart chart-line" chart-data="chart1.data" chart-labels="chart1.labels"
                    chart-series="chart1.series"></canvas>
        </md-content>
    </md-content>
    <br ng-if="!chart1.loaded || chart1.loaded && chart1.labels.length"/>

    <md-content class="md-whiteframe-1dp" ng-if="!chart2.loaded || chart2.loaded && chart2.labels.length">
        <md-toolbar>
            <div class="md-toolbar-tools">
            <h3>{{'answer.rank.correct' | translate}}</h3>
            </div>
        </md-toolbar>
        <md-content class="md-padding">
            <div ng-if="!chart2.labels.length" layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <canvas ng-if="chart2.labels.length" class="chart chart-line" chart-data="chart2.data"
                    chart-labels="chart2.labels"
                    chart-series="chart2.series"></canvas>
        </md-content>
    </md-content>
    <br ng-if="!chart2.loaded || chart2.loaded && chart2.labels.length"/>
    <formly-form model="model.package" fields="fields"></formly-form>
</md-content>